@charset "utf-8";
.iconfont {-webkit-transition: font-size 0.25s ease-out 0s; -moz-transition: font-size 0.25s ease-out 0s; transition: font-size 0.25s ease-out 0s;}
.cross-sidebar-left {width: 240px; position: fixed; _position:absolute; _top:expression(document.documentElement.scrollTop+(parseInt(this.currentStyle.marginTop,10)||0)); _height:expression(document.documentElement.clientHeight-2); overflow: hidden;  position: absolute; left: 0; top: 0; height: 100%; background-color: #f7f8f9; overflow: auto;}
.cross-sidebar-right {margin-left: 240px;}
/* page wrap
-----------------------------------------------------------------------------*/
.page-container {overflow:hidden;}
.page-sidebar {width:189px; border-right:#e0e3ec 1px solid; background:#f6f9fa;}
.page-content {overflow:hidden;}
/* menu-collapse
-----------------------------------------------------------------------------*/
.menu-collapse li {position:relative;}
.menu-collapse li a {padding-left:20px; font-size:14px; line-height:45px; color:#666; display:block; max-width:100%; _width:100%; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; padding-right:25px; border-bottom: #e8e8e8 1px solid;}
.menu-collapse li a i.iconfont {margin-right:5px;}
.menu-collapse li span.arrow {position:absolute; right:5px; top:0;}
.menu-collapse li span.arrow i.iconfont {font-size:12px; color:#bbb;}
.menu-collapse li a:hover {background: #E3F0FC;}
.menu-collapse li a.curr {background: #4DB2EE;}
.menu-collapse li a.curr , .menu-collapse li a.curr span.arrow i.iconfont {color:#fff;}
.menu-collapse .sub-menu {display:none;}
.menu-collapse .sub-menu li a {font-size:12px; background: #fafafa; padding-left: 30px;}
.menu-collapse .sub-menu li a:hover {color: #4DB2EE;}
.menu-collapse .sub-menu li a.curr , .menu-collapse .sub-menu li a.curr span.arrow i.iconfont {color: #4DB2EE;}
.menu-collapse .sub-menu li .sub-menu li a {padding-left: 50px;}
.menu-collapse-infeed {background-color:#f9f9f9; border-bottom:#e1e1e1 1px solid; height:45px;}
.menu-collapse-infeed li.menu-li {float:left; display:inline; padding-left:0px; position:relative;}
.menu-collapse-infeed li a {margin-right:0px; padding-left: 0; border-bottom: 0; padding-right: 0;}
.menu-collapse-infeed li.curr a {color:#4DB2EE;}
.menu-collapse-infeed li span.title {border-right:1px solid #e1e1e1; padding:0 20px; display:inline-block; line-height:16px;}
.menu-collapse-infeed li.last span.title {border-right:0;}
.menu-collapse-infeed ul.sub-menu span.title {border-right:0;}
.menu-collapse-infeed ul.sub-menu {position:absolute; top:45px; left:0; z-index: 111; background-color:#fff; border:1px solid #e1e1e1; border-top:0;}
.menu-collapse-infeed ul.sub-menu li {padding-left:0; border-bottom:1px dashed #f1f1f1; position:relative;}
.menu-collapse-infeed ul.sub-menu li.last {border-bottom:0;}
.menu-collapse-infeed ul.sub-menu li a {line-height:30px; color:#666; display:block; padding-left:0; }
.menu-collapse-infeed ul.sub-menu li a:hover , .menu-collapse-infeed ul.sub-menu li.curr > a {background-color:#4DB2EE; color:#fff;}
.menu-collapse-infeed ul.sub-menu li ul.sub-menu {left:100%; top:0; z-index: 111;}
.menu-collapse-infeed ul.sub-menu li.curr ul.sub-menu a {background-color:#fff; color:#666;}
.menu-collapse-infeed ul.sub-menu li.curr ul.sub-menu li.curr > a {background-color:#4DB2EE; color:#fff;}
.menu-collapse-two li.menu-li a {cursor: default; font-size: 18px; color: #4DB2EE; border-bottom: 0;}
.menu-collapse-two li.menu-li a i.iconfont {font-size: 18px; margin-right: 0px;}
.menu-collapse-two li.menu-li a:hover {background: none;}
.menu-collapse-two .sub-menu {display:block;}
.menu-collapse-two li.menu-li .sub-menu a {cursor: pointer; font-size: 14px; color: #666; background: none;}
.menu-collapse-two li.menu-li .sub-menu a:hover , .menu-collapse-two li.menu-li .sub-menu a.curr {color: #4DB2EE;}
.menu-collapse-tight li a {line-height:28px;}
/* tabs
-----------------------------------------------------------------------------*/
.tabs-bd-box.curr {display:block;}
.tabs-hd a.curr {cursor: default;}
/* tabs-one
-----------------------------------------------------------------------------*/
.tabs-one .tabs-hd {border-bottom:#e9e9e9 1px solid;}
.tabs-one .tabs-hd a {display:inline-block; font-size:16px; float:left; color:#444; line-height:39px; padding:0 15px;}
.tabs-one .tabs-hd a:hover {color:#4DB2EE;}
.tabs-one .tabs-hd a.curr {border-bottom:3px solid #4DB2EE; color:#4DB2EE; line-height:35px; position:relative; top:2px;}
.tabs-one-medium .tabs-hd a {font-size:14px; line-height:29px; padding:0 10px;}
.tabs-one-medium .tabs-hd a.curr {border-bottom:2px solid #4DB2EE; color:#4DB2EE; line-height:27px;  top:1px;}
.tabs-one-small .tabs-hd a {font-size:14px; line-height:24px; padding:0 10px;}
.tabs-one-small .tabs-hd a.curr {border-bottom:2px solid #4DB2EE; color:#4DB2EE; line-height:22px;  top:1px;}
/* tabs-two
-----------------------------------------------------------------------------*/
.tabs-two .tabs-hd {border-bottom:#ddd 1px solid;}
.tabs-two .tabs-hd a { position: relative; display:block; font-size:16px; text-align: center; color: #666; height: 38px; line-height: 38px; vertical-align: middle; padding: 0 20px; border: 1px solid #e1e1e1; border-bottom: none; margin-right: 5px; background: #fff; border-radius: 2px 2px 0 0; *width:100px;*padding:0; float:left;}
.tabs-two .tabs-hd a:hover {color:#4DB2EE;}
.tabs-two .tabs-hd a.curr {background: #4DB2EE; color: #fff; border-color: #4DB2EE;}
.tabs-two-medium .tabs-hd a {font-size: 14px; height: 28px; line-height: 28px; padding: 0 10px;}
.tabs-two-small .tabs-hd a {font-size: 14px; height: 23px; line-height: 23px; padding: 0 10px;}
/* tabs-thr
-----------------------------------------------------------------------------*/
.tabs-thr .tabs-hd a {margin-right: 5px; line-height: 1.6; font-size:16px; border: 1px solid transparent; border-radius: 2px 2px 0 0; float: left; margin-bottom: -1px; color:#4DB2EE; padding:0px 15px; line-height: 39px;}
.tabs-thr .tabs-hd a.curr {color: #666; background-color: #fff; border: 1px solid #ddd; border-bottom-color: transparent;}
.tabs-thr .tabs-bd {border:#ddd 1px solid;}
.tabs-thr-medium .tabs-hd a {line-height: 1.4; font-size:14px; line-height: 28px; padding:0px 10px;}
.tabs-thr-small .tabs-hd a {line-height: 1.4; font-size:14px; line-height: 23px; padding:0px 10px;}
/* button
-----------------------------------------------------------------------------*/
.c-btn , .c-btn-full , .c-btn-large , .c-btn-big , .c-btn-small , .c-btn-tiny , .c-btn-screenful , .c-btn-icon , .c-btn-label , .c-btn-label-l , .c-btn-label-r {display:inline-block; zoom:1; *display:inline; vertical-align:middle; outline:none; cursor:pointer; border:0; background:none; text-align:center; text-decoration:none; padding:12px 34px; color:#fff; position:relative; font: 14px/1 \5FAE\8F6F\96C5\9ED1,tahoma,arial,\5b8b\4f53; line-height:normal !important;}
.c-btn:hover , .c-btn:active {text-decoration:none;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in; transition:all 0.3s ease-in;}
.c-btn-full {width:100%; height:100%;}
.c-btn-large {padding:14px 40px; font-size:18px;}
.c-btn-big {padding:10px 40px; font-size:16px;}
.c-btn-small {padding:10px 18px; font-size:12px;}
.c-btn-tiny {padding:3px 8px; font-size:12px;}
.c-btn-screenful , .c-btn-label-l , .c-btn-label-r {width:100%; height:100%; display:table; padding:0; font-size:inherit}
.c-btn-screenful .c-btn-span , .c-btn-label-l .c-btn-span , .c-btn-label-r .c-btn-span{display:table-cell; vertical-align:middle;}
.c-btn-icon .iconfont , .c-btn-icon .icon{margin-right:7px;}
.c-btn.c-btn-arc , .c-btn-full.c-btn-arc , .c-btn-large.c-btn-arc , .c-btn-big.c-btn-arc , .c-btn-small.c-btn-arc , .c-btn-tiny.c-btn-arc , .c-btn-screenful.c-btn-arc , .c-btn-icon.c-btn-arc , .c-btn-label.c-btn-arc , .c-btn-label-l.c-btn-arc  , .c-btn-label-r.c-btn-arc {border-radius:1000px;}
.c-btn.c-btn-radius , .c-btn-full.c-btn-radius , .c-btn-large.c-btn-radius , .c-btn-big.c-btn-radius , .c-btn-small.c-btn-radius , .c-btn-tiny.c-btn-radius , .c-btn-screenful.c-btn-radius , .c-btn-icon.c-btn-radius , .c-btn-label.c-btn-radius , .c-btn-label-l.c-btn-radius  , .c-btn-label-r.c-btn-radius {border-radius:6px;}
.c-btn.c-btn-rounded , .c-btn-full.c-btn-rounded , .c-btn-large.c-btn-rounded , .c-btn-big.c-btn-rounded , .c-btn-small.c-btn-rounded , .c-btn-tiny.c-btn-rounded , .c-btn-screenful.c-btn-rounded , .c-btn-icon.c-btn-rounded , .c-btn-label.c-btn-rounded , .c-btn-label-l.c-btn-rounded  , .c-btn-label-r.c-btn-rounded{border-radius:2px;}
.c-btn-label {position:relative}
.c-btn-label-l i.iconfont , .c-btn-label-r i.iconfont , .c-btn-label-l i.icon , .c-btn-label-r i.icon {padding:0 6px; display:inline-block; position:absolute; top:0; height:100%; line-height:200%; background:rgba(0,0,0,.04)}
.c-btn-label-l i.iconfont , .c-btn-label-l i.icon {left:0;}
.c-btn-label-r i.iconfont , .c-btn-label-r i.icon {right:0;}
.c-btn-label:hover i.iconfont , .c-btn-label-l:hover i.iconfont , .c-btn-label-r:hover i.iconfont {background:rgba(0,0,0,.1)}
.c-btn-3fd0a7 {background-color: #3fd0a7; }
.c-btn-3fd0a7:hover {background-color: #04cf96; }
.c-btn , .c-btn-full{line-height:14px; padding:6px 14px;}
.c-btn-full {width: 100%; padding-left:0; padding-right:0;}
.c-btn-green {border: 1px solid #40d0a7; background-color: #40d0a7; border-radius: 2px;}
.c-btn-green:hover {color:#fff; background-color: #31c59b; }
.c-btn-blue {border: 1px solid #4DB2EE; background-color: #4DB2EE; border-radius: 2px;}
.c-btn-blue:hover {color:#fff; background-color: #28a4ed; }
.c-btn-red {border: 1px solid #ee6a71; background-color: #ee6a71; border-radius: 2px;}
.c-btn-red:hover {color:#fff; background-color: #e2565d; }
.c-btn-white {color:#666; border: 1px solid #ddd; background-color: #fff; border-radius: 2px;}
.c-btn-white:hover {color:#666; background-color: #f7f7f7; }
.c-btn-orange {border: 1px solid #f0ad4e; background-color: #f0ad4e; border-radius: 2px;}
.c-btn-orange:hover {color:#fff; background-color: #eea236; }
.c-btn-disable {cursor:default; background:#ccc; border:1px solid #ccc; color:#fff;}
.c-btn-disable:hover,.c-btn-disable:active {background-color:#ccc; top:0;}
.c-btn.c-btn-pill {border-radius: 200px;}
.c-btn.c-btn-square {border-radius: 0px;}
.c-btn .iconfont {margin-right:5px;}
.c-btn-group .c-btn, .c-btn-group .c-btn-full , .c-btn-group .c-btn-large , .c-btn-group .c-btn-big , .c-btn-group .c-btn-small , .c-btn-group .c-btn-tiny , .c-btn-group .c-btn-screenful , .c-btn-group .c-btn-icon , .c-btn-group .c-btn-label , .c-btn-group .c-btn-label-l , .c-btn-group .c-btn-label-r , .c-btn-group .c-btn-green , .c-btn-group .c-btn-blue , .c-btn-group .c-btn-red , .c-btn-group .c-btn-white {border-radius: 0px;}
.c-btn-group .c-btn:first-child, .c-btn-group .c-btn-full:first-child , .c-btn-group .c-btn-large:first-child , .c-btn-group .c-btn-big:first-child , .c-btn-group .c-btn-small:first-child , .c-btn-group .c-btn-tiny:first-child , .c-btn-group .c-btn-screenful:first-child , .c-btn-group .c-btn-icon:first-child , .c-btn-group .c-btn-label:first-child , .c-btn-group .c-btn-label-l:first-child , .c-btn-group .c-btn-label-r:first-child , .c-btn-group .c-btn-green:first-child , .c-btn-group .c-btn-blue:first-child , .c-btn-group .c-btn-red:first-child , .c-btn-group .c-btn-white:first-child {border-top-left-radius: 2px; border-bottom-left-radius: 2px;}
.c-btn-group .c-btn:last-child, .c-btn-group .c-btn-full:last-child , .c-btn-group .c-btn-large:last-child , .c-btn-group .c-btn-big:last-child , .c-btn-group .c-btn-small:last-child , .c-btn-group .c-btn-tiny:last-child , .c-btn-group .c-btn-screenful:last-child , .c-btn-group .c-btn-icon:last-child , .c-btn-group .c-btn-label:last-child , .c-btn-group .c-btn-label-l:last-child , .c-btn-group .c-btn-label-r:last-child , .c-btn-group .c-btn-green:last-child , .c-btn-group .c-btn-blue:last-child , .c-btn-group .c-btn-red:last-child , .c-btn-group .c-btn-white:last-child {border-top-right-radius: 2px; border-bottom-right-radius: 2px;}
.c-btn-ghost-green{border:1px solid #40d0a7;color:#40d0a7;}
.c-btn-ghost-blue{border:1px solid #4DB2EE;color:#4DB2EE;}
.c-btn-ghost-red{border:1px solid #ee6a71;color:#ee6a71;}
.c-btn-dropdown { position: relative; *zoom:1;}
.c-btn-dropdown .c-btn-dropspan { padding-right: 20px;}
.c-btn-dropdown .c-arrow-b { position: absolute; right: 5px; top: 50%; margin-top: -3px;}
.c-btn-dropdown .c-arrow-b:empty { border-top-color: #fff;}
.c-btn-tiny .c-arrow-b {border-width: 5px;}
.dropdown-menu { position: absolute; left: 0; top: 100%; margin-top: 1px; padding:5px 0; background-color: #fff; border:1px solid #e1e1e1; -webkit-border-radius: 3px; border-radius: 3px; box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176); z-index: 1; display: none;}
.dropdown-menu li { white-space: nowrap;}
.dropdown-menu li.divider { margin: 9px 0; height: 1px; line-height: 0; font-size: 0; background-color: #e1e1e1;}
.dropdown-menu li.disabled a, .dropdown-menu li.disabled a:hover { background-color: #fff; color: #999; cursor: default;}
.dropdown-menu a { display: block; padding: 3px 20px; color: #555;}
.dropdown-menu a:hover { background-color: #f5f5f5;}
/* pagination page
-----------------------------------------------------------------------------*/
.c-pagination {display:inline-block; height: 38px;}
.c-pagination-page,.c-pagination-info,.c-pagination-stat,.c-pagination-size,.c-pagination-jump {float: left; margin-top: 2px;}
.c-pagination-page li a , .c-pagination-page li span.text {border-radius: 2px; margin-right:10px;}
.c-pagination-page li:last-child a {margin-right:0;}
.c-pagination-page li a,.c-pagination-page li span.text,.c-pagination-size > select,.c-pagination-group input,.c-pagination-group button,.c-pagination-info , .c-pagination-stat span, .c-pagination-grouptext {font-size: 16px; font-family: 'Microsoft YaHei'; color: #888;}
.c-pagination-page li a, .c-pagination-size select,.c-pagination-group input,.c-pagination-group button {outline: none;user-select: none;-moz-user-select: none;-webkit-user-select: none;-ms-user-select: none;-khtml-user-select: none;border: 1px solid #ddd;}
.c-pagination-page li a,.c-pagination-group button {cursor: pointer; background-color: #fff;}
.c-pagination-page li:hover a, .c-pagination-group button:hover {background-color: #eee;border-color: #ddd;}
.c-pagination-page li , .c-pagination-stat li {list-style: none;float: left;}
.c-pagination-page li a , .c-pagination-stat li span {height: 34px;line-height: 34px; display: inline-block;padding: 0 12px;text-decoration: none;box-sizing: content-box;}
.c-pagination-stat li span {padding-right:0;}
.c-pagination-jump {margin-left:10px;}
.c-pagination-grouptext { margin-right: 5px; line-height: 34px;}
.c-pagination-page li.active a {color: #fff;background-color: #4DB2EE;border-color: #4DB2EE; cursor: default;}
.c-pagination-size select {cursor: pointer;height: 36px;padding: 0px 8px;border-radius: 4px;float:left; margin-left:10px;}
.c-pagination-group input,.c-pagination-group button {float: left;}
.c-pagination-group input {border-top-left-radius: 4px;border-bottom-left-radius: 4px;width: 50px;height: 34px;padding: 0px;text-align: center;box-sizing: content-box;}
.c-pagination-group button {border-left: none;border-top-right-radius: 4px;border-bottom-right-radius: 4px;height: 36px;padding: 0px 12px;}
.c-pagination-info , .c-pagination-stat span {height: 34px;line-height: 34px;margin-left: -1px;display: inline-block;padding: 0 12px;text-decoration: none;box-sizing: content-box;}
.c-pagination-mini .c-pagination-page li a {height: 24px; line-height: 24px; display: inline-block; padding: 0px; font-family: \5b8b\4f53; vertical-align: middle; border: 0;}
.c-pagination-mini .c-pagination-page li:hover ,.c-pagination-mini .c-pagination-page li a:hover {background: none; color: #4DB2EE;}
.c-pagination-mini .c-pagination-page li span {vertical-align: middle; height: 24px; line-height: 24px;}
.c-pagination-mini .c-pagination-page li span.text em {color: #4DB2EE;}
.c-pagination-min .c-pagination-page li a, .c-pagination-min .c-pagination-stat li span {height: 24px; line-height: 24px; padding: 0 6px; margin-right: 5px; font-size: 12px;}
.c-pagination-min .c-pagination-group input {width: 40px; height: 24px; line-height: 24px;}
.c-pagination-min .c-pagination-group button {height: 26px; line-height: 1; font-size: 12px; padding: 0 8px;}
/* form
-----------------------------------------------------------------------------*/
input::-ms-clear {display:none;}
input::-ms-reveal {display:none;}
.input-search {display: inline-block; vertical-align:middle; *display:inline; *zoom:1;}
.input-text , .input-search input.search { display: inline-block; vertical-align:middle; padding: 6px 10px 5px; width: 218px; height: 20px; line-height: 20px; border: 1px solid #ddd; background-color: #fff; font-size: 14px; color: #666; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; *display:inline;*zoom:1;}
.input-search input.search {width: 202px; padding-right: 26px;}
.input-text:focus {border-color: #4DB2EE; background-color: #fff;}
.input-text-large , .input-search-large input.search {height: 25px; line-height: 25px;}
.input-text-min , .input-search-min input.search {padding: 1px 10px; font-size: 13px; line-height: 1.1;}
.input-search-min input.search {padding-right: 20px;}
.input-text-error , .input-text-error:focus{ border-color:#f47979;}
.input-text-w45 {width: 23px;}
.input-text-w90 {width: 68px;}
.input-text-w110 {width: 88px;}
.input-text-w125 {width: 103px;}
.input-text-w150 {width: 128px;}
.input-text-w170 {width: 148px;}
.input-text-w200 {width: 178px;}
.input-text-w240 {width: 218px;}
.input-text-w300 {width: 278px;}
.input-text-w350 {width: 328px;}
.input-text-w500 {width: 478px;}
.input-search input.search-w90 {width: 58px;}
.input-search input.search-w110 {width: 78px;}
.input-search input.search-w125 {width: 93px;}
.input-search input.search-w150 {width: 118px;}
.input-search input.search-w170 {width: 138px;}
.input-search input.search-w200 {width: 168px;}
.input-search input.search-w240 {width: 208px;}
.input-search input.search-w300 {width: 268px;}
.input-search input.search-w350 {width: 318px;}
.input-search input.search-w500 {width: 468px;}
.input-text-block {padding-left: 11px; padding-right: 11px; }
.input-text-block .input-text { width: 100%; margin-left: -11px; margin-right: -11px; }
.input-search span.search-btn {z-index:2;top:1px; _top:3px; right:1px; cursor: pointer; background-color: #fff; display: inline-block;padding:3px 5px 4px;}
.input-search span.search-btn i.iconfont {color: #999;}
.input-search-large span.search-btn {padding: 6px 5px;}
.input-search-min span.search-btn {padding: 0px 5px; height: 22px; overflow: hidden;}
.input-search-disabled input.search , .input-search-disabled span.search-btn{background-color: #f5f5f5;}
.textarea-wrap {padding-left: 11px; padding-right: 11px;}
.textarea , .textarea-min {padding: 5px 10px; width: 100%; margin-left: -11px; margin-right: -11px; min-height: 42px; border: 1px solid #ddd; background-color: #fff; font-size: 14px; color:#666; resize: none; overflow-y: auto; overflow-x: hidden; word-wrap: break-word; word-break: break-all; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; }
.textarea:focus {border-color: #4DB2EE; background-color: #fff; }
.textarea-min {padding: 1px 16px 1px 4px; font-size: 13px;}
.textarea-disabled , .input-text-disabled {background-color:#f5f5f5;}
.textarea-w220 {width: 218px;}
.form-select {display:inline-block;}
.form-select .select {height:33px; line-height:33px; border:1px solid #ddd; background-color: #ffffff; background-image: none !important; filter:none !important; outline: none;}
.form-select .select-h38 {height:38px; line-height:38px;}
.form-select .select-h24 {height:24px; line-height:24px;}
.form-select .select-w110 {width:110px;}
.form-select .select-w125 {width:125px;}
.form-select .select-w150 {width:150px;}
.form-select .select-w170 {width:170px;}
.form-select .select-w200 {width:200px;}
.form-select .select-w240 {width:240px;}
.form-select .select-w300 {width:300px;}
.form-select .select-w350 {width:350px;}
.form-select .select-w470 {width:470px;}
.form-select-disabled .select{background-color: #f5f5f5;}
/* form-layout
-----------------------------------------------------------------------------*/
.form-layout .control-sub {font-size:20px; color:red;}
.form-layout .control-text {padding:6px 0; font-size:14px; vertical-align:middle;}
.form-layout .control-form label.radio , .form-layout .control-form label.checkbox {margin-top:7px; margin-bottom:4px;}
.form-layout .control-label {float:left; padding-top:5px; font-size:14px; font-weight:normal; line-height:1.7;}
.form-layout-large .control-label {line-height: 2;}
.form-layout-min .control-label {font-size:13px; line-height:.95;}
.form-horizontal .control-group {margin-bottom:20px; *padding-bottom:20px; *margin-bottom:0;}
.form-horizontal .control-line {display: block;}
.form-horizontal .control-hlep {display: inline-block; padding-left:5px; color:#999;}
.form-horizontal .control-help-line {margin-top:5px; color:#999;}
.form-horizontal-wider .control-label {width:160px;}
.form-horizontal-wider .control-form , .form-horizontal-wider .control-text {margin-left: 180px;}
.form-horizontal-narrow .control-label {width:100px;}
.form-horizontal-narrow .control-form , .form-horizontal-narrow .control-text {margin-left: 110px;}
.form-blocks .control-group {margin-bottom:20px;}
.form-blocks .control-label {padding-top:5px; font-weight:normal; line-height:2.4; float:none;}
.form-blocks .control-hlep {display: inline-block; padding-left:5px; color:#999;}
.form-blocks .control-help-line {margin-top:5px; color:#999;}
.form-blocks .control-line {display: block;}
.form-inline:after , .form-layout .control-group:after , .form-auto:after {visibility:hidden;display:block;font-size:0;content:".";clear:both;height:0;}
.form-inline , .form-layout .control-group {zoom:1}
.form-inline .control-group  {float:left; zoom:1; margin-right:20px; margin-bottom:20px; min-height: 33px;}
.form-inline .control-form , .form-inline .control-text , .form-auto .control-form , .form-auto .control-text {display:inline;float:left;}
.form-condensed .control-group {margin-bottom: 10px;}
.form-layout-min .control-group {margin-bottom:10px; *padding-bottom:10px; *margin-bottom:0; min-height: 24px;}
.form-layout-min .control-text , .form-layout-min .control-label {font-size: 13px; color: #000;}

/* error-tip-box
-----------------------------------------------------------------------------*/
.iconfont.ico-error {color:#f47979; cursor:default; font-size:18px;}
.error-tip-box {min-width:150; max-width:300px; _width:300px; position:absolute; z-index:9990; left:0; top:10px;}
.error-tip-box .hd {height: 5px; position:absolute; left:0; top:10px; z-index:9993;}
.error-tip-box .bd {border: 1px solid #aaa; padding: 10px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; background-color:#fff; position:relative; z-index:9991; margin-left:10px; zoom:1;}
.error-tip-box .arrow, .error-tip-box .arrow s { position: relative; display: block; font-size: 0; line-height: 0; width: 0; height: 0; border-color: transparent; border-style: dashed; border-width: 5px;}
.error-tip-box .arrow-l , .error-tip-box .arrow-l s { border-right-color: #aaa; border-right-style: solid; }
.error-tip-box .arrow-l s { border-right-color: #fff; position: absolute; right: -7px; top: -5px; _right: -8px; _top: -6px; }
/* cus-sel select
-----------------------------------------------------------------------------*/
.cus-sel { position:relative; display:inline-block; vertical-align: middle; *display:inline; *zoom:1; z-index:2;}
.cus-sel-chosed { position: relative; height:43px; width:130px; padding:0 36px 0 10px; line-height:43px; background-color:#fff; border:1px solid #ddd; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; cursor:pointer; *zoom:1;}
.cus-sel-chosed-txt {text-align: left; display: block; width: 100%; color:#666; font-size:14px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; word-wrap:normal;}
.cus-sel-chosed-input { display: block; width: 100%; margin-top:5px; color:#666; font-size:14px;}
.jselect-icon { position: absolute; right:0; top:0; display:block; width: 35px; height: 43px; border-left: 1px solid #ddd; background:url(../images/jselect-icon.png) no-repeat;}
.cus-sel-list { position:absolute; left:0; top:45px; width:176px; max-height:260px; overflow-y:auto; padding:0; border:1px solid #ddd; background-color:#f1f6f5; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; display:none; }
.cus-sel-list ul{_position:relative; _top:0; _left:0; _clear:both; _width:100%;_height:200px; _overflow-y:auto; *zoom:1;}
.cus-sel-list li { display: block; float: none; margin:0; padding:0;}
.cus-sel-list a { display: block; padding:10px 20px; font-size:14px; line-height:1.5; white-space: nowrap; overflow:hidden; text-overflow:ellipsis; cursor:pointer; *zoom:1; /*transition: all 1s ease 0s;*/}
.cus-sel-list a:link, .cus-sel-list a:visited { color:#666;}
.cus-sel-list a:hover, .cus-sel-list li a.hover { background-color:#4DB2EE; color:#fff; text-decoration: none;}
.cus-sel.active .jselect-icon { background-position: -35px 0;}
.cus-sel-h24 .cus-sel-chosed { height: 22px; line-height: 22px;}
.cus-sel-h24 .cus-sel-chosed-txt {font-size: 13px;}
.cus-sel-h24 .cus-sel-chosed-input { margin-top:1px;font-size: 13px;}
.cus-sel-h24 .jselect-icon {width: 22px; height: 22px; background-position: -77px -10px;}
.cus-sel-h24.active .jselect-icon { background-position: -112px -10px;}
.cus-sel-h24 .cus-sel-list { top:24px;}
.cus-sel-h24 .cus-sel-list a {padding: 3px 10px; font-size: 13px;}
.cus-sel-h24 .cus-sel-list a:link , .cus-sel-h24 .cus-sel-list a:visited {color: #000;}
.cus-sel-h33 .cus-sel-chosed { height: 31px; line-height: 31px;}
.cus-sel-h33 .jselect-icon { height: 31px; background-position: 0 -5px;}
.cus-sel-h33.active .jselect-icon { background-position: -35px -5px;}
.cus-sel-h33 .cus-sel-list { top:33px;}
.cus-sel-h38 .cus-sel-chosed { height: 36px; line-height: 36px;}
.cus-sel-h38 .cus-sel-chosed-input { margin-top:7px;}
.cus-sel-h38 .cus-sel-list a {padding:10px 10px;}
.cus-sel-h38 .jselect-icon { height: 36px; background-position: 0 -4px;}
.cus-sel-h38.active .jselect-icon { background-position: -35px -4px;}
.cus-sel-h38 .cus-sel-list { top:38px;}
.cus-sel-w105 .cus-sel-chosed { width: 57px;}
.cus-sel-w105 .cus-sel-list { width: 103px;}
.cus-sel-w110 .cus-sel-chosed { width: 62px;}
.cus-sel-w110 .cus-sel-list { width: 108px;}
.cus-sel-w125 .cus-sel-chosed { width: 77px;}
.cus-sel-w125 .cus-sel-list { width: 123px;}
.cus-sel-w150 .cus-sel-chosed { width: 102px;}
.cus-sel-w150 .cus-sel-list { width: 148px;}
.cus-sel-w170 .cus-sel-chosed { width: 122px;}
.cus-sel-w170 .cus-sel-list { width: 168px;}
.cus-sel-w200 .cus-sel-chosed { width: 152px;}
.cus-sel-w200 .cus-sel-list { width: 198px;}
.cus-sel-w240 .cus-sel-chosed { width: 192px;}
.cus-sel-w240 .cus-sel-list { width: 238px;}
.cus-sel-w300 .cus-sel-chosed { width: 252px;}
.cus-sel-w300 .cus-sel-list { width: 298px;}
.cus-sel-w350 .cus-sel-chosed { width: 302px;}
.cus-sel-w350 .cus-sel-list { width: 348px;}
.cus-sel-w470 .cus-sel-chosed { width: 422px;}
.cus-sel-w470 .cus-sel-list { width: 468px;}
.cus-sel-list { background-color:#fff;}
.cus-sel-list li { margin: 0; display: block; float: none;}
.cus-sel-list a { padding:8px 10px;}
.cus-sel.disabled .cus-sel-chosed { background: #f9f9f9;}
/* checkbox , radio
-----------------------------------------------------------------------------*/
.checkbox { display: inline-block; cursor: pointer; position: relative; _top: 4px; font-size: 14px; line-height: 21px; *display:inline;*zoom:1;}
label.checkbox input {position:absolute; top:5px; left: 5px; _top:2px; _left: 2px; z-index: -1;}
.icon-chkbox { display: inline-block; width: 20px; height: 20px; position: relative; z-index: 9;  margin-right: 5px; background: url(../images/icon-checkbox.png) no-repeat; vertical-align: text-top; overflow: hidden; *display:inline;*zoom:1;}
.checkbox.checked .icon-chkbox { background-position: -20px 0; }
.checkbox.disabled .icon-chkbox { background-position: -40px 0; }
.checkbox.disabled input:checked+.icon-chkbox { background-position: -60px 0; }
.radio { display: inline-block; cursor: pointer; position: relative; _top: 4px; font-size: 14px; line-height: 21px; *display:inline;*zoom:1;}
label.radio input {position: absolute; top:5px; left: 5px; _top:2px; _left: 2px; z-index: -1;}
.icon-radio { display: inline-block; width: 20px; height: 20px; position: relative; z-index: 9; margin-right: 5px; background: url(../images/icon-radio.png) no-repeat; vertical-align: text-top; overflow: hidden; *display:inline;*zoom:1;}
.radio.checked input:checked+.icon-radio { background-position: -20px 0;}
.radio.disabled .icon-radio { background-position: -40px 0; }
.radio.disabled input:checked+.icon-radio { background-position: -60px 0; }
input.radio , input.checkbox {vertical-align:middle; margin-right:5px;}
input.radio + span , input.checkbox + span {vertical-align: middle;}
/* crumbs
-----------------------------------------------------------------------------*/
.crumbs { height: 41px; line-height: 41px; vertical-align: middle; border-bottom: 1px solid #e0e3ec; padding-left: 30px; }
.crumbs a { color: #999; }
.crumbs span { padding: 0 10px; font-size: 12px; color: #999; font-family: "\5b8b\4f53"; }
.crumbs b { font-weight: normal; color: #4DB2EE; }
.crumbs-two {border-bottom:0; padding-left:0; font-size:14px; height:35px; line-height:35px;}
.crumbs-two span {font-size:14px;}
/* datetimepicker
-----------------------------------------------------------------------------*/
.date-wrap { position: relative; display: inline-block; overflow:hidden; height: 31px; line-height: 31px; width: 198px; border-radius:2px; border:1px solid #d6d8db; background-color:#fff; vertical-align: middle; cursor: pointer; *display: inline; *zoom:1;}
.date-wrap .date-txt { width: 191px; height: 31px; line-height: 31px; border:none; background-color:#fff; color:#333; font-size: 14px; cursor: pointer; padding-left:10px; *position: relative; *zoom:1; *top:-1px;}
.date-wrap .disabled {background-color: #f5f5f5;}
.datetimepicker {background:url(../../widget/datetimepicker/2.1.9/images/datebg.png) no-repeat 170px 4px; _background:url(../../widget/datetimepicker/2.1.9/images/datebg.gif) no-repeat 170px 4px;}
.date-wrap.w125 {width: 123px;}
.date-wrap.w125 .date-txt {width: 115px;}
.date-wrap.w125 .datetimepicker {background-position:95px 4px;}
.date-wrap.w170 {width: 168px;}
.date-wrap.w170 .date-txt {width: 160px;}
.date-wrap.w170 .datetimepicker {background-position:140px 4px;}
.date-wrap-h38 ,.date-wrap-h38 .date-txt {height: 36px; line-height: 36px;}
.date-wrap-h38 .datetimepicker {background-position-y:7px;}
.date-wrap-h24 ,.date-wrap-h24 .date-txt {height: 22px; line-height: 22px;}
.date-wrap-h24 .datetimepicker {background-position:175px -31px;}
.date-wrap-h24.w170 .datetimepicker {background-position:145px -31px;}
/* table
-----------------------------------------------------------------------------*/
.tb th { padding:10px 5px; border-top:1px solid #ccc; border-bottom:1px solid #ccc; background-color:#f4f5f6; line-height: 20px; color:#999; vertical-align: middle;}
.tb td { padding:10px 5px; line-height: 25px; background-color:#fff; border-bottom:1px solid #ddd; word-wrap: break-word; word-break:break-all; color:#666; vertical-align: middle;}
.tb th.small {padding:5px;}
.tb .hover td { background-color:#fafafa;}
.tb-b {border:1px solid #ddd;}
.tb-b th , .tb-b td {border-color:#ddd; border-left:1px solid #ddd;}
.tb-n th , .tb-n td {border:0; background:none; vertical-align:middle; padding:10px; color:#666;}
tr.hover td {background-color:#fcfcfc}
.tb-s {border-left: 1px solid #ddd; border-top: 1px solid #ddd;}
.tb-s th {background-color: #F8F8F8; color: #333; border-bottom: 1px solid #ddd; border-right: 1px solid #ddd; padding: 15px 10px; width: 120px;}
.tb-s td {border-bottom: 1px solid #ddd;  border-right: 1px solid #ddd;  padding: 15px 10px;}
.tb-skin1 th { position:relative; padding:5px; border-top: 0 none; border-bottom:0 none; background-color:#f4f5f6;}
.tb-skin1 th:before { content:''; position:absolute; right:-1px; top:5px; bottom:5px; display:block; width:1px; background-color:#ddd; font-size:0; z-index:1; }
.tb-skin1 th:last-child { overflow:hidden; *zoom:1; }
.tb-min th , .tb-min td {padding:1px 4px; line-height: 1.3; color: #000;font-size: 13px;}
/* tags
-----------------------------------------------------------------------------*/
.tags { display: inline-block; height: 20px; padding-left: 10px; line-height: 20px; background: url(../images/tags.png) no-repeat; color: #fff; font-size: 12px; vertical-align: middle; *display: inline; *zoom:1;}
.tags-red { background-position: 0 0; }
.tags-blue { background-position: 0 -20px; }
.tags-gray { background-position: 0 -40px; }
.tags-green { background-position: 0 -60px; }
.tags .tag-inner { display: block; width: auto; padding:0 4px; line-height: 20px; white-space: nowrap; -webkit-border-radius:0 2px 2px 0; border-radius:0 2px 2px 0;}
.tags-red .tag-inner { background-color:#ff5f6a;}
.tags-blue .tag-inner { background-color:#4fc1e9;}
.tags-gray .tag-inner { background-color:#bbbbbb;}
.tags-green .tag-inner { background-color:#40d0a7;}
.tags.right{padding-left:0;padding-right:10px;}
.tags.right .tag-inner{border-radius: 2px 0 0 2px;}
.tags.right.tags-red{background-position:right 0px;}
.tags.right.tags-blue{background-position:right -20px;}
.tags.right.tags-gray{background-position:right -40px;}
.tags.right.tags-green{background-position:right -60px;}
/* alinks
-----------------------------------------------------------------------------*/
a.alinks,a.alinks-unline,a.alinks-line { display: inline-block; *display: inline; *zoom:1; text-decoration:underline; cursor:pointer;}
a.alinks:hover,a.alinks-unline,a.alinks-line {text-decoration: none;}
a.alinks-unline:hover{ text-decoration:underline;}
a.alinks-line:hover{ text-decoration: line-through;}
a.alinks-black {color:#333;}
a.alinks-blue {color:#4DB2EE;}
a.alinks-green {color:#40d0a7;}
a.alinks-red {color:#ee6a71;}
a.alinks-gray {color:#ddd;}
/* c-step
-----------------------------------------------------------------------------*/
.c-step {padding: 0 40px; margin: 0 auto; font-size: 14px; list-style: none; zoom: 1; position: relative; color: #b7b7b7; overflow: hidden;}
.c-step:after {clear: both; content: " "; display: block; font-size: 0; height: 0; visibility: hidden;}
.c-step li {float: left; height: 54px; margin: 0; width: 50%; position: relative;}
.c-step li .c-step-icon {height: 50px; position: absolute; top: 0; width: 150px; text-align: center; left: -25px; font-family: tahoma;}
.c-step-icon .iconfont {font-size: 30px;  margin: 0; color: #b7b7b7; color: rgba(0, 0, 0, 0.25); *color: #b7b7b7; line-height: 30px; background: #fff; padding: 0 10px; position: absolute; top: 0; left: 0; text-shadow: 1px 1px 2px #fff, 0 0 0 #ccc, 1px 1px 2px #fff;}
.c-step-icon .c-step-number {line-height:20px; font-style:normal;font-family:Arial, Helvetica, sans-serif; position: absolute; top: 4px; left: 0; padding: 0 20px; color: #fff;}
.c-step .c-step-active i.c-step-number {color:#FFF;}
.c-step-end .c-step-number {background: transparent; font-size: 12px; font-style: normal; left: 19px; line-height: 12px; padding: 0; text-shadow: none; top: 9px;}
.c-step-icon .c-step-text {height: 20px; line-height: 20px; position: relative; color: #666; top: 34px; left: -50px;}
.c-step .c-step-active .c-step-icon .c-step-text {color:#4DB2EE;}
.c-step li .c-step-line {height: 3px; background: #b9b9b9; display: block; margin-top: 14px; line-height: 1; overflow: hidden;}
.c-step li.c-step-end {position: absolute; top: 0; right: -110px; width: 150px; zoom: 1; _clear: both;}
.c-step li.c-step-end .c-step-line {display: none;}
.c-step-2 li {width: 100%;}
.c-step-3 li {width: 50%; *width: 49.5%; *_width: 50%;}
.c-step-4 li {width: 33%;}
.c-step-5 li {width: 25%;}
.c-step .c-step-active {color: #4DB2EE;}
.c-step .c-step-active .iconfont {color:#4DB2EE;}
.c-step .c-step-done .iconfont {color:#4DB2EE;}
.c-step .c-step-done .c-step-line {background: #4DB2EE;}
/* c-text
-----------------------------------------------------------------------------*/
.c-text li:after {visibility:hidden;display:block;font-size:0;content:".";clear:both;height:0;}
.c-text li {zoom:1; margin-bottom: 10px;}
.c-text-title {float: left;}
.c-text-content {overflow: hidden;}
.c-text-title {color: #909090;}
.c-text-content {color: #333;}
.c-text-left .c-text-title {text-align: left; min-width: 100px; _width: 100px;}
.c-text-right .c-text-title {text-align: right; min-width: 100px; _width: 100px;}
.c-text-min li {margin-bottom: 0px;}
/* page-404 , page-500 , c-remind-wrap
-----------------------------------------------------------------------------*/
.page-404,.page-500 , .c-remind-wrap {height: 100%; left: 0; top: 0;}
.page-404-box,.page-500-box {width: 460px; height: 400px; top:50%; left: 50%; margin-left: -230px; margin-top: -200px;}
.c-remind-box {width: 560px; height: 400px; top:50%; left: 50%; margin-left: -280px; margin-top: -200px;}
.page-404-h2,.page-500-h2 {font-size: 38px;}
.c-remind-fl {width: 130px;}
.c-remind-fl img {height: 200px;}
.c-remind-fr {width: 400px;}
/* panel
-----------------------------------------------------------------------------*/
.c-panel {background-color: #fff; border: 1px solid transparent; border-radius: 2px; -webkit-box-shadow: 0 0px 3px rgba(0,0,0,.05); box-shadow: 0 0px 3px rgba(0,0,0,.05);}
.c-panel-hd {padding: 0px 20px; height: 44px; line-height: 44px; border-bottom: 1px solid transparent; border-top-right-radius: 2px; border-top-left-radius: 2px;}
.c-panel-default {border-color: #e1e1e1;}
.c-panel-default .c-panel-hd a i.iconfont {color: #333;}
.c-panel-default .c-panel-hd a:hover i.iconfont {color: #4DB2EE;}
.c-panel-default .c-panel-hd {background-color: #f5f5f5; border-color: #e1e1e1;}
.c-panel-white {border-radius: 0px; border: 0px solid transparent;}
.c-panel-hd {border-bottom: #eeeeee 1px solid;}
.c-panel-hd h2 {line-height: 3;}
.c-panel-white .c-panel-hd a i.iconfont {color: #acb2b8;}
.c-panel-white .c-panel-hd a:hover i.iconfont {color: #e9634c;}
.c-panel-gray {border-color: #ebebeb; background-color: #fdfdfd;}
.c-panel-gray .c-panel-hd a i.iconfont {color: #333;}
.c-panel-gray .c-panel-hd a:hover i.iconfont {color: #4DB2EE;}
.c-panel-gray .c-panel-hd {background-color: transparent; border-bottom:0 none;}
.c-panel-gray .c-panel-hd .title { border-bottom: 1px solid #e1e1e1;}
.c-panel-min .c-panel-hd {height: 25px; padding: 0 10px;}
.c-panel-min .c-panel-hd , .c-panel-min .c-panel-hd h2 {line-height: 25px;}
.c-panel-min .c-panel-hd a i.iconfont {font-size: 12px;}
/* page-layout
-----------------------------------------------------------------------------*/
.page-layout-menu {width: 189px; height: 100%;border-right: #e0e3ec 1px solid; background: #f6f9fa; z-index: 3;}
.page-layout-main {padding-left: 190px; top: 0; left: 0; right: 0; bottom: 0; z-index: 2;}
/* css c-arrow
-----------------------------------------------------------------------------*/
.c-arrow, .c-arrow s { position: relative; display: block; font-size: 0; line-height: 0; width: 0; height: 0; border-color: transparent; border-style: dashed; border-width: 7px; }
.c-arrow-r, .c-arrow-r s { border-left-color: #cdcdcd; border-left-style: solid; }
.c-arrow-r:empty {border-left-color: #ddd;}
.c-arrow-r s { border-left-color: #fff; position: absolute; left: -9px; top: -7px; }
.c-arrow-l, .c-arrow-l s { border-right-color: #cdcdcd; border-right-style: solid; }
.c-arrow-l:empty {border-right-color: #ddd;}
.c-arrow-l s { border-right-color: #fff; position: absolute; right: -9px; top: -7px; }
.c-arrow-t, .c-arrow-t s { border-bottom-color: #cdcdcd; border-bottom-style: solid; }
.c-arrow-t:empty {border-bottom-color: #ddd;}
.c-arrow-t s { border-bottom-color: #fff; position: absolute; left: -7px; top: -5px; }
.c-arrow-b, .c-arrow-b s { border-top-color: #cdcdcd; border-top-style: solid; }
.c-arrow-b:empty {border-top-color: #ddd;}
.c-arrow-b s { border-top-color: #fff; position: absolute; left: -7px; bottom: -5px; }
.c-arrow-circle { line-height: 100%; overflow: hidden; font-family: Tahoma, Helvetica; font-size: 18px; color: #cdcdcd; }
/* c-badge
-----------------------------------------------------------------------------*/
.c-badge, .c-badge-line {display:inline-block; min-width:10px; color:#fff; line-height:1; vertical-align:baseline; white-space:nowrap; background-color:#999; padding:2px 3px; text-align:center;}
a.c-badge:focus,a.c-badge:hover {color:#fff; text-decoration:none; cursor:pointer;}
.c-badge:empty{display:none;}
.c-badge.c-round,.c-round {border-radius:1000px;}
.c-badge.c-radius,.c-radius {border-radius:2px;}
.c-badge.c-square , .c-square{border-radius:0;}
.c-badge-primary {background-color:#0e90d2;}
.c-badge-secondary {background-color:#3bb4f2;}
.c-badge-success {background-color:#5eb95e;}
.c-badge-warning {background-color:#f37b1d;}
.c-badge-danger {background-color:#dd514c;}
.c-badge-line { padding:2px 9px; border:1px solid #999; background-color:#fff; color:#999;}
.c-badge-line-primary { background-color:#fff; border-color:#0e90d2; color:#0e90d2;}
.c-badge-line-secondary { background-color:#fff; border-color:#3bb4f2; color:#3bb4f2;}
.c-badge-line-success { background-color:#fff; border-color:#5eb95e; color:#5eb95e;}
.c-badge-line-warning { background-color:#fff; border-color:#f37b1d; color:#f37b1d;}
.c-badge-line-danger { background-color:#fff; border-color:#dd514c; color:#dd514c;}
/* c-alert
-----------------------------------------------------------------------------*/
.c-alert {padding: 5px 15px 5px 8px; position: relative;}
.c-alert-radius {-webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;}
.c-alert .close {position: absolute; top: 2px; right: 2px; cursor: pointer;}
.c-alert .close i.iconfont {font-size: 12px;}
.c-alert-warning {color: #c09853; background-color: #fcf8e3; border: 1px solid #fbeed5;}
.c-alert-success {color: #468847; background-color: #dff0d8; border: 1px solid #d6e9c6;}
.c-alert-info {color: #3a87ad; background-color: #d9edf7; border: 1px solid #bce8f1;}
.c-alert-error {color: #b94a48; background-color: #f2dede; border: 1px solid #eed3d7;}